/*CSS reset*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b30000;
}

header#cabecalho-principal {
    background-color: #dddddd;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center; 
}

#pontuacao-game {
    background-color: #61b1ea;
    border-radius: 30px;
    padding: 10px;
    color: white;
    padding: 5px 50px;

    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pontuacao-game img {
    margin-right: 15px;
    margin-top: 2px;
}

#nome-jogo {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 20px;
}